*.class
*.log
gradlew
gradlew.bat
*.pyc
*.swp
local.properties
.gradle
.DS_Store
.atom/
.buildlog/
.history
.svn/
ios
test
web
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
dist
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.metadata
*.lock
/build/
lib/generated_plugin_registrant.dart
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
*.apk
.DS_Store
*.jar
*.java
Flutter-Debug.xcconfig
Flutter-Release.xcconfig
settings_aar.gradle
.metadata
ephemeral
gradle-wrapper.jar
.gradle
captures/
gradlew
gradlew.bat
local.properties
GeneratedPluginRegistrant.java
Flutter/ephemeral/
Pods/
xcuserdata/
